.general {
    width: 600px;
    border-style: solid;
}

.row {
    display: flex;
    justify-content: space-between;
}

.sm {
    width: 75px;
}

.med {
    width: 100px;
}

.lg {
    width: 120px;
}