 <header>

                <h1>Penguin Airlines</h1>

 </header>
 <div [hidden] ="hiddenGrid">
 <div class="padding" >
        <div class="textbox-card">
            <h2> Departure City</h2>
            <p> </p>
            <div class="textbox">
                <input id="textbox" type="text" style="width: 200px;" >
            </div>
        </div>
        <div class="textbox-card">
            <h2> Arrival City</h2>
            <p> </p>
            <div class="textbox">
                <input id="textbox" type="text" style="width: 200px;" >
            </div>
        </div>
        <div>
            <button class = "button1" (click) = "show()">update</button>
        </div>
    </div> 
</div>